/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


.regBox {
    color: #566573;
    margin: 40px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    background-image: url("blackWood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow: inherit;
    border: 8px solid #1b1b1b;
}

#regHeader>h1 {
    text-align: center;
    position: relative;
    top: 40px;
    color: white;
    background: #F39C12;
    /*For browsers that do not support gradients */
    background: -webkit-radial-gradient(#ffb84d, #F39C12, #ff8000);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(#ffb84d, #F39C12, #ff8000);
    /* Standard syntax */
}

#regInput {
    padding: 60px;
    width: 80%;
    margin: 0px 100px 0px 100px;
}
html{
  min-height: 100%;
  position: relative;
}
body {
    font-family: 'Patua One', cursive;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#body{
  margin:auto;
height:100%;
margin-bottom: 60px;

}

footer {
  position: absolute;
  bottom: 0;
  height:60px;
  width:100%;
  padding-left:20px;
  background-color: #1b1b1b;

}

.topnav {
    background-color: #1b1b1b;
    height: 60px;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: brown;
    text-decoration: none;
}

.media-body a {
    color: #0099ff;
}

.media-body a:hover {
    text-decoration: underline;
}

a#navheader {
    display: block;
    border-radius: 0px 0px 30px 0px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-decoration: none;
    font-size: 30px;
    float: left;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #e69300;
    background: #F39C12;
    /*For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* Standard syntax */
}

a#navheader:hover {
    background: #D2691E;
    background: -webkit-linear-gradient(#F39C12, #D2691E);
    /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F39C12, #D2691E);
    /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#F39C12, #D2691E);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F39C12, #D2691E);
    /* Standard syntax */
    color: #333;
}

#leftnav {
    float: left;
}

#rightnav {
    float: right;
    padding-right: 30px;
}

.leftnavtab {
    float: left;
}

#rightnav>a {
    display: block;
    padding: 20px;
    float: left;
}

.inline {
    display: inline-block;
    margin: 10px;
}

h1 {
    color: #566573;
}

#submitHelp {
    color: red;
}

form#regForm>div>span {
    color: red;
}

#bodyContent {
    overflow:inherit;
    float: left;
    width: 600px;
    display: inline;
    padding: 10px 0px 100px 20px;
}

#bodyContent>h1 {
    color: #1b1b1b;
}

.media {
    border-radius: 15px;
    border: 2px dashed #1b1b1b;
    padding: 15px;
    overflow: inherit;
}

.media:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.moreContent {
    display: none;
}

#verticalMenu {
    width: 300px;
    display: inline;
    float: left;
    padding: 20px;
}

#verticalMenu a {
    background-color: #1b1b1b;
    color: #CCCCCC;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: 1px solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

#verticalMenu a:hover {
    background-color: #404040;
}

#verticalMenu a.active {
    background: #F39C12;
    /*For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffb84d, #F39C12, #ff8000);
    /* Standard syntax */
    border: 1px solid #e69300;
    color: white;
}

#verticalMenu a.active:hover {
    background: #D2691E;
    background: -webkit-linear-gradient(#F39C12, #D2691E);
    /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F39C12, #D2691E);
    /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#F39C12, #D2691E);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F39C12, #D2691E);
    /* Standard syntax */
    color: #333;
}

#verticalMenu #homeOption {
    border-radius: 15px 70px 0px 0px;
}
